        body {
            margin: 0;
        }
        #box {
            position: absolute;
            background-color: red;
            width: 200px;
            height: 200px;
        }

        .animate {
            animation: myAnimation 3s infinite linear;
            animation-fill-mode: forwards;
        }

        #playPauseBtn {
            position: absolute;
            margin-top: 30px;
            margin-left: 1000px;
            width: 100px;
            height: 30px;
        }

        #animationSlider {
            position: absolute;
            margin-top: 30px;
            margin-left: 1110px;
            width: 200px;
            height: 30px;
        }